@import "variables.less";

body {
  line-height: @lineheightgeneral;
  min-width: 320px;
}

p {
  color: @paragraphcolor;
  font-family: @Arial;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

hr {
  border-bottom: 1px solid @bordergrey;
}
