// font
@fontfamilty: 'Arial', sans-serif;
@fontsizeheader: 36px;
@fontsizecardstitle: 24px;
@fontsizemenu: 20px;
@fontsizelinks: 16px;
@fontsizeparagraph: 14px;
@fontsizesmall: 12px;
@fontweightmedium: 500;
@lineheightgeneral: 1.2;

// color
@grey: #f2f2f2;
@bordergrey: #e6e6e6;
@white: #fff;
@accentgreen: #68b738;
@paragraphcolor: #444444;

// imgs
@heroimg: url("../../img/index-background-mobile.png");

// paddings and margins
@margincommon: 20px;
