@import "../variables.less";

.advantage {
    margin: 0 @margincommon;
}

.advantage__title {
    font-family: @Oswald;
    font-size: @header;
    font-weight: @regular;
}

.advantage__icon-wrapper {
    background-color: @accentgreen;
    width: 10%;
    padding: 15px 17px;
    display: inline-block;
}

.advantage__icon {
    width: 32px;
    height: 32px;
}

.advantage__description {
    font-size: @paragraph;
    width: 70%;
    display: inline-block;
    padding-left: 20px;
}

