@import "../variables.less";

.beforeafter {
    margin: 0 @margincommon;
}

.beforeafter__header {
    font-size: @header;
    font-family: @Oswald;
    font-weight: @regular;
}

.beforeafter__description {
    font-size: @paragraph;
}

.beforeafter__meal-cost {
    font-size: @paragraph;
}

.beforeafter__compare-text {
    font-size: @links;
}

.beforeafter__stats-main-wrapper {
    padding-top: 20px;
}

.beforeafter__weight-wrapper,
.beforeafter__days-wrapper {
    width: 40%;
    display: inline-block;
    margin: 0 0 6% 6%;
}

.beforeafter__stat {
    font-family: @Oswald;
    font-size: @title;
    font-weight: @regular;
    text-align: center;
    text-transform: uppercase;
}

.beforeafter__stat-description {
    font-family: @Arial;
    font-size: @small;
    text-align: center;
}

.beforeafter__meal-cost {
    font-family: @Oswald;
    font-size: @paragraph;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}