@import "../variables.less";

.beforeafter {
    margin: 0 @margincommon;
}

.beforeafter__header {
    font-size: @headersize;
}

.beforeafter__description {
    font-size: @paragraphsize;
}

.beforeafter__emphasys-wrapper {
    font-size: @fontsizesmall;
}

.beforeafter__emphasys {
    font-size: @fontsizecardstitle;
}

.beforeafter__meal-cost {
    font-size: @paragraphsize;
}

.beforeafter__compare-text {
    font-size: @fontsizelinks;
}