@import "../variables.less";

.cards-section {
    margin: 0 @margincommon;
}

.card {
    background-color: @grey;
    padding: 22px;
}

.card__title {
    font-family: @Oswald;
    font-size: @title;
    text-transform: uppercase;
    font-weight: @regular;
}

.card__description {
    font-size: @paragraph;
}

.card__learn-more {
    font-size: @fontsizelinks;
}

.card__icon-wrapper {
    background-color: @accentgreen;
}

