@import "../variables.less";

.catalog {
    border-top: 1px solid @bordergrey;
}

.catalog__card {
    margin: 50px @margincommon;

}

.catalog__card-header {
    .fontsetup(@Oswald, @header, @regular);
    margin: @margincommon;
}

.catalog__product-img-wrapper { // can't make it place on one line
    width: 30%;
    display: inline-block;
}

.catalog__product-info-wrapper {
    width: 55%;
    display: inline-block;
    float: right;
}

.catalog__product-header {
    .fontsetup(@Oswald, @links, @regular);
    text-transform: uppercase;
    width: 72px;
}

.catalog__product-info-row {
    .fontsetup(@Arial, @small, @regular);
}

.catalog__product-info-row td:first-child {
    padding-right: 90px;
}

.catalog__product-info-row td:last-child {
    text-align: right;
}

.catalog__product-btn-order {
    .button;
    // padding: 15px;
    display: block;
}

.catalog__more {
    border-top: 1px solid @bordergrey;
    border-bottom: 1px solid @bordergrey;
    margin: @margincommon;
    text-align: center;
}

.catalog__more-header {
    .fontsetup(@Oswald, @links, @regular);
    text-transform: uppercase;
}

.catalog__more-description {
    .fontsetup(@Arial, @small, @regular);
}

