@import "../variables.less";

.catalog {
    border-top: 1px solid @bordergrey;
}

.catalog__card {
    margin: 0 @margincommon;
}

.catalog__card-header {
    .fontsetup(@Oswald, @header, @regular);
    margin: @margincommon;
}

.catalog__product-img-wrapper { // can't make it place on one line
    border: 1px solid red;
    width: 49%;
    display: inline-block;
}

.catalog__product-info-wrapper {
    border: 1px solid yellow;
    width: 49%;
    display: inline-block;
}

.catalog__product-header {
    .fontsetup(@Oswald, @links, @regular);
}

.catalog__product-info-row {
    .fontsetup(@Arial, @small, @regular);
}

.catalog__product-btn-order {
    .button
}

.catalog__more {
    border-top: 1px solid @bordergrey;
    border-bottom: 1px solid @bordergrey;
    margin: @margincommon;
    text-align: center;
}

.catalog__more-header {
    .fontsetup(@Oswald, @links, @regular);
    text-transform: uppercase;
}

.catalog__more-description {
    .fontsetup(@Arial, @small, @regular);
}

