@import "../variables.less";

.contacts__info-wrapper {
    margin: 50px @margincommon;
    padding-bottom: 20px;
}

.contacts__map {
    max-width: 100%;
}

.contacts__header {
    .fontsetup(@Oswald, @links, @regular);
    text-transform: uppercase;
    width: 50%;
    float: left;
}

.contacts__address {
    .fontsetup(@Arial, @paragraph, @regular);
    padding-top: 7px;
    width: 50%;
    float: right;
}