@import "../variables.less";

.hero-section__bkg-img {
    background-image: @heroimg;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    min-height: 305px;
}

.hero-section__content-wrapper {
    position: relative;
    top: -300px;
}

.hero-section__can-img {
    position: absolute;
    margin: 0 15%;
}

.hero-section__action-btn { // something went wrong here. how to fix the button?
    font-family: @Oswald;
    font-size: @paragraph;
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 400px; 
    padding: 20px;
    background-color: @accentgreen;
    left: 50%; // how to make the text tretch in one line?
    transform: translate(-50%, 0);
}

.hero-section__header-text, 
.hero-section__paragraph-slogan {
    font-family: @Oswald;
    font-weight: @regular;
    text-align: center;
    color: @white;
}

.hero-section__header-text {
    font-size: @header;
    padding: 0 20px;
}

.hero-section__paragraph-slogan {
    font-size: @paragraph;
    text-transform: uppercase;
}
