@import "../variables.less";

.hero-section__bkg-img {
  background-image: @heroimg;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  min-height: 305px;
}

.hero-section__content-wrapper {
  position: relative;
  top: -300px;
  margin: 0 @margincommon;
}

.hero-section__can-img {
  position: absolute;
}

.hero-section__action-btn {
  .button;
  position: absolute;
  top: 450px;
  padding: 15px 80px;
}

.hero-section__header-text,
.hero-section__paragraph-slogan {
  font-family: @Oswald;
  font-weight: @regular;
  text-align: center;
  color: @white;
}

.hero-section__header-text {
  font-size: @header;
  padding: 0 20px;
}

.hero-section__paragraph-slogan {
  font-size: @paragraph;
  text-transform: uppercase;
}
